@media all and (max-width:1050px) {
    #discover {

        //?? dis-choose stats

        .dis-choose {
            ul {
                li {
                    >* {
                        font-size: 60px;
                    }
                }
            }
        }

        //?? dis-swip starts
        .dis-swip {
            height: 100%;
            position: relative;

            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        text-align: left;
                        font-size: 18px;
                        display: flex;
                        flex-direction: column;

                        .swi-sli-left {
                            width: 100%;

                            img {
                                width: 100%;
                                height: 70vh;
                                object-fit: cover;
                            }
                        }

                        .swi-sli-right {
                            width: 100%;
                            height: 40vh;
                            align-items: flex-start;
                            padding-top: 50px;
                            padding-left: 50px;

                            .swi-sli-ri-tit {
                                font-size: 36px;
                                font-weight: bolder;
                                padding-top: 20px;
                            }

                            .swi-sli-ri-des {
                                width: 100%;
                                font-size: 22px;
                                font-family: 'Bespoke Serif',
                                    sans-serif;
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }
        }


        //?? dis-week starts



        .dis-week {
            display: flex;
            flex-direction: column;
            background-color: #8C5582;
            border: #000 2px solid;

            .dis-we-top {
                display: flex;
                justify-content: space-between;

                .dis-we-top-left {
                    width: 100%;
                    padding: 20px 0 0 20px;

                    .dis-we-top-left-1 {
                        // @extend .button-2;
                        width: 130%;
                        background-color: #fff;
                        font-weight: bolder;
                    }

                    .dis-we-top-left-2 {
                        font-size: 50px;
                        line-height: 40px;
                        margin-top: 20px;
                        font-weight: bolder;
                    }
                }

                .dis-we-top-right {
                    display: flex;
                    justify-content: flex-end;
                    padding: 20px 20px 0 0;

                    img {
                        width: 15%;
                        height: 50%;
                    }
                }
            }

            .dis-we-mid {
                text-align: center;

                img {
                    width: 80%;
                }
            }

            .dis-we-bot {
                display: flex;
                justify-content: space-between;

                .dis-we-bot-left {
                    display: none;

                }

                .dis-we-bot-right {
                    padding: 0 20px 20px 0;
                    text-decoration: underline;
                    margin-left: 25px;

                    a {
                        color: #000;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

@media all and (max-width:500px) {
    #discover {

        //?? dis-choose stats

        .dis-choose {
            ul {
                li {
                    >* {
                        font-size: 25px;
                    }
                }
            }
        }

        //?? dis-swip starts
        .dis-swip {
            height: 100%;
            position: relative;

            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        text-align: left;
                        font-size: 18px;
                        display: flex;
                        flex-direction: column;

                        .swi-sli-left {
                            width: 100%;

                            img {
                                width: 100%;
                                height: 70vh;
                                object-fit: cover;
                            }
                        }

                        .swi-sli-right {
                            width: 100%;
                            height: 80vh;
                            align-items: flex-start;
                            padding-top: 50px;
                            padding-left: 10px;

                            .swi-sli-ri-top {
                                width: 40%;
                            }

                            .swi-sli-ri-tit {
                                font-size: 30px;
                                font-weight: bolder;
                                padding-top: 20px;
                            }

                            .swi-sli-ri-des {
                                width: 100%;
                                font-size: 18px;
                                font-family: 'Bespoke Serif',
                                    sans-serif;
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }
        }


        //?? dis-week starts



        .dis-week {
            display: flex;
            flex-direction: column;
            background-color: #8C5582;
            border: #000 2px solid;

            .dis-we-top {
                display: flex;
                justify-content: space-between;

                .dis-we-top-left {
                    width: 100%;
                    padding: 20px 0 0 20px;

                    .dis-we-top-left-1 {
                        // @extend .button-2;
                        width: 80%;
                        background-color: #fff;
                        font-weight: bolder;
                    }

                    .dis-we-top-left-2 {
                        font-size: 50px;
                        line-height: 40px;
                        margin-top: 20px;
                        font-weight: bolder;
                    }
                }

                .dis-we-top-right {
                    display: flex;
                    justify-content: flex-end;
                    padding: 20px 20px 0 0;

                    img {
                        display: none;
                    }
                }
            }

            .dis-we-mid {
                text-align: center;

                img {
                    width: 80%;
                }
            }

            .dis-we-bot {
                display: flex;
                justify-content: space-between;

                .dis-we-bot-left {
                    display: none;

                }

                .dis-we-bot-right {
                    padding: 0 20px 20px 0;
                    text-decoration: underline;
                    margin-left: 25px;

                    a {
                        color: #000;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}